.container {
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.app-container {
    background-color: rgb(235, 223, 209);
    display: flex;
    width: 30%;
    margin: 3rem auto 3rem auto;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

label {
    width: 50%;
    margin-bottom: 0.5rem;
    font-size: large;
}

input {
    width: 100%;
    height: 25px;
    margin: 0 auto 0 auto;
    border-radius: 4px;
}

#message {
    min-height: 100px;
}

button {
    min-width: 30%;
    height: 30px;
    border-radius: 50px;
    margin: 2rem auto 1rem auto;
    background-color: rgb(133, 242, 93);
    font-weight: bold;
}

button:hover {
    background-color: rgb(80, 240, 21);
}

button:active {
    background-color: rgb(124, 247, 108);
}

.hidden {
    visibility: hidden;
}

.error {
    color: red;
    margin: 0 auto 0 auto;
    font-size: small;
}

#weather-error-message {
    text-align: center;
    font-size: large;
}

.app-name {
    text-align: center;
    margin-top: 2rem;
}

p {
    font-weight: bold;
}

.hot {
    color: red;
}
.cold {
    color: blue;
}
.mild {
    color: orange;
}

#wind {
    color: blue;
}